[submodule "hapi-fhir-jpaserver-starter"]
	path = hapi-fhir-jpaserver-starter
	url = https://github.com/I-TECH-UW/hapi-fhir-jpaserver-starter.git
                                                              
